<h3>Your Posts</h3>

<% @areas.each do |area| %>
  <% if ! area.posts.where(user_id: current_user.id).empty? %>
    <%= area.name %>
    <%= render area.posts.where(user_id: current_user.id) %>
  <% end %>
<% end %>

<%= render @posts %>

<% if @posts.empty? %>
  <h3>You have no posts...
    <%= link_to "post something!", root_path %>
  </h3>
<% end %>
