<% if signed_in? %>
  <% if current_user.admin? %>
    <%= render "areas/form", target: @area %>
  <% end %>
<% end %>

<h3>Areas</h3>
<ul>
  <%= render @areas %>
</ul>

<%= link_to "Posts", posts_path %>
