/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid black;
}

#top-bar-container {
  height: 20px;
  width: 100%;
  background-color: #6373F0;
  border-bottom: 1px solid black;
}

#top-bar {
  float: left;
}

.nav-container {
  height: 30px;
  width: 100%;
  background-color: #18205C;
}

.nav-top ul {
  list-style-type: none;
}
.nav-top li a{
  color: white;
  position:relative;
  float: right;
  padding: 5px 25px 0 0px;
}

img {
  height: 200px;
  width: auto;
}

span.image-preview {
  position: absolute;
  width: auto;
  z-index: -1;
}

.clear {
  clear: both;
}
